/* GENERAL PAGE STYLE */
body {
    margin: 0;
    background: rgb(40, 40, 40);
    overflow: hidden;
    user-select: none;
}

h2, p {
    padding: 0;
    margin: 0.5rem;
}

/* CANVAS */
#content {
    width: 100vw;
    height: 100vh;
    display: block;
}

#control-left { background: rgba(40, 40, 40, 0.2); }
#control-right { background: rgba(58, 58, 58, 0.2); }

@media (min-width: 1024px) {
    #control-left,
    #control-right {
        display: none !important;
    }
}